body{
  font-family: "Work Sans"}
.header-text{
    font-size: 65px;
    color: #151414;
   
}
.header1{
    text-align: right;
    
}
.header-des{
    font-size: 16px;
    color: #444343;
}
.button1{
    background-color: #F15B22;
    color: #FFFFFF;
    width: 160px;
    height: 64px;
    margin-bottom: 300px;
    margin-top: 50px;
}
.header1{
    background-image: url('../images/banner/banner1.png');
    padding-right: 200px;
    padding-top: 200px;
    background-repeat: no-repeat;
    
}
.header-des{
    margin-top: 50px;
}
.main-section{
  margin-left: 900px;  
  padding-bottom: 300px;
  padding-top: 200px;
}
.main-title{
    color: #151414;
    font-size: 40px;
}
.main-des{
    color: #444343;
    font-size: 16px;
}
.main-list{
  color: #444343;  
  font-size: 16px;
}
main {
    background-image: url('../images/person.png');
    background-repeat: no-repeat;
    background-position: top left;
}
.my-plans-title{
    text-align: center;
    color: #151414;
    font-size: 40px;
}
.plans-items{
    display: flex;
    justify-content: center;
    gap: 150px;
}
.quote{
    background-image: url('../images/watch.png');
    margin-left: 100px;
    margin-right: 100px;
    background-repeat: no-repeat;
    padding-left: 100px;
    background-position: center;
    padding-bottom: 100px;
    
}
.quote-title{
    color: #FFFFFF;
    font-size: 40px;
   padding-top: 100px;
  
   
}
.call-me-btn{
    background-color: #FFFFFF;
    color: #F15B22;
    width: 160px;
    height: 64px;
    border-radius: 0px;
    
    text-align: center;
    
}
footer{
    display: flex;
    background-color: #151414;
    gap: 300px;
    padding: 100px;
    
}
.footer-column-title{
    color: #F8F8F8;
    font-size: 45px;
  
}
.footer-column-des,.column-address,.column-phone{
    color: #F8F8F8;
  font-size: 16px;
}
.email{
    background-color: #151414;
    color: #F8F8F8;
    width: 325px;
    height: 64px;
    border-radius: 2px;
    border-color: #F8F8F8;
}
.subscribe{
    width: 170px;
    height: 64px;
    background-color: #FFFFFF;
    color: #F15B22;
    margin-top: 10px;
}